name: MLflow CI/CD Training

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        
    - name: Install MLflow and dependencies
      run: |
        pip install mlflow==3.6.0
        pip install scikit-learn pandas
        
    - name: Run MLflow Project
      run: |
        cd MLProject
        mlflow run . --experiment-name github-ci
        
    - name: Upload Artifacts to GitHub
      uses: actions/upload-artifact@v3
      with:
        name: mlflow-artifacts
        path: |
          MLProject/mlruns/
          MLProject/weather_train_processed.csv
          MLProject/weather_test_processed.csv
        retention-days: 7